 body {
    background-color: #1B2433;
    background-image: url('./assets/images/Restuarant.jpg');
    min-height: 100vh;
    background-attachment: fixed;
    width: 100%;
    align-items: center;
    background-size: cover;
    background-position: center center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

header {
    background-color: #f5f5dc9a;
    position: sticky;
    padding: 1rem;
    margin: 1rem;
    border-radius: 3rem;
    min-width: 20rem;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
}
nav {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 3rem;
 }  
.btn {
    background-color: #1d2635;
    color: #F5F5DC;
    padding: 0.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 20rem;
    border-radius: 1.5rem;
    border: 2px rgba(102, 51, 153, 0.425) solid;
    cursor: pointer;
} /*
#content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 2rem;
 
}
#welcome-txt-cont {
   display: grid; 
   margin-top: 5rem;
   
    
    
}
.welcome-txt {
    font-size: 4rem;
    align-self: center;
    color: white;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.404);
}
.Gold-txt {
    display: block;
}
.sub-welcome-txt {
    color: rgb(219, 216, 20);
    font-size: 3rem;
} */

